/*place global styles here */
html,
body {
	@apply h-full;
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf');
	font-display: swap;
}

:root {
	--theme-font-family-base: 'Space Grotesk', sans-serif;
    --theme-font-family-heading: 'Space Grotesk', sans-serif;
	--theme-rounded-base: 20px;
	--theme-rounded-container: 4px;
}